div.visible {
    visibility: visible;
    display: block;
}

.hidden {
    visibility: hidden;
    display: none;
}

div.overlay {
    display: block;
    position: absolute;
    z-index: 100;
    top: 0px;
    color: yellow;
    text-shadow: 0 0 2px darkgreen;
}

div.video-container {
    position: relative;
}
